@model AlytaloMVC.ViewModels.ValoViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Valot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ValoOffAika)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValoOffAika)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valo33Aika)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valo33Aika)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valo66AIka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valo66AIka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valo100Aika)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valo100Aika)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HuoneValo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HuoneValo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Valo33)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valo33)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Valo66)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valo66)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Valo100)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valo100)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValoOff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValoOff)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
